.sortable_tree_wrapper
  %ol.sortable_tree{data: {'sortable-url' => options[:sort_url], 'max-levels'=> (options[:max_levels] || 5)} }
    - items.each do |root, children|
      %li{id: "cat_#{root.id}"}
        .item
          /.cell.left
          /  %i.handle
          %h3.cell.left
            =root.send(options[:name_method] || :name)
          .cell.right.controls
            - if options[:controls_partial]
              = render options[:controls_partial], item: root

        = sortable_tree_render_nested_groups(children, options.merge({list_tag: :ol, element_class: 'item'}))



